<?xml version="1.0"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="DeviceInfo" Manufacturer="Chris" Version="1.1.8" Compressed="yes" UpgradeCode="f610c888-78d1-4362-a6db-4757ac539f99">
    <MajorUpgrade DowngradeErrorMessage="A newer version of DeviceInfo is already installed." 
	              AllowSameVersionUpgrades="yes"/>
    <MediaTemplate EmbedCab="yes" />  

    <!-- Define the installation directory -->
    <StandardDirectory Id="ProgramFilesFolder">
	  <Directory Id="INSTALLFOLDER" Name="DeviceInfo" />
    </StandardDirectory>

    <!-- Define the components -->
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
	  <!-- Main executable -->
	  <Component Id="DeviceInfo.exe" Guid="3c436ef1-a361-494c-bbbb-4e357cc653ff">
	    <File Source="C:\Users\{USERNAME}\Downloads\DeviceInfo.exe" KeyPath="yes" />
	  </Component>
    </ComponentGroup>

    <!-- Define the feature -->
    <Feature Id="ProductFeature" Title="DeviceInfo" Level="1">
	  <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>
</Wix>
