<?xml version="1.0"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="TPMStatus" Manufacturer="Chris" Version="1.1.2" Compressed="yes" UpgradeCode="e9c0c792-fba8-4eef-bcd3-a7909b956e45">
    <MajorUpgrade DowngradeErrorMessage="A newer version of TPMStatus is already installed." 
	              AllowSameVersionUpgrades="yes"/>
    <MediaTemplate EmbedCab="yes" />  

    <!-- Define the installation directory -->
    <StandardDirectory Id="ProgramFilesFolder">
	  <Directory Id="INSTALLFOLDER" Name="DeviceInfo" />
    </StandardDirectory>

    <!-- Define the components -->
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
	  <!-- Main executable -->
	  <Component Id="TPMStatus.exe" Guid="9ebe13a2-081f-44f4-ac78-19ce1a846842">
	    <File Source="C:\Users\{USERNAME}\Downloads\TPMStatus.exe" KeyPath="yes" />
	  </Component>

	  <!-- Auto-start registry key -->
	  <Component Id="AutoRunComponent" Guid="330b7806-1336-432c-826c-defe1f4b5cab">
	    <RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="TPMStatus" Type="string" Value="[INSTALLFOLDER]TPMStatus.exe" KeyPath="yes" />
	  </Component>
    </ComponentGroup>

    <!-- Define the feature -->
    <Feature Id="ProductFeature" Title="TPMStatus" Level="1">
	  <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>
</Wix>
